.login-box {
    width: 550px;
    height: 340px;
    transform: translateY(25px);
    padding-top: 50px;
    position: relative;
    right:100px;
    top:-25px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(6px);
    border: 6px solid rgb(49, 49, 49);
    border-radius: 30px;
    box-shadow:6px 6px 6px rgba(255, 255, 255, 0.4);
}